@charset "utf-8";

.banner {
    max-width: 650px;
    width: 100%;
    height: auto;
}

.logo {
    max-width: 70%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .logo {
        max-width: 75%;
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .logo {
        max-width: 60%;
        width: 100%;
    }
}