@charset "utf-8";

html {
    font-size: 10px;
    color: #333;
    font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
    /*スムーススクロール*/
    scroll-behavior: smooth;
    /*改行禁則*/
    line-break: strict;
    visibility: hidden;
}

html.wf-active,
html.loading-delay {
    visibility: visible;
}

body {
    font-size: 1.6rem;
    /* 本物のカーソルを非表示に */
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {
    display: block;
}

li {
    list-style: none;
}

@media screen and (min-width:1024px) {
    body {
        cursor: none;
    }

    .custom-cursor {
        position: fixed;
        /*top0left0でカーソルの中心を真ん中に持ってくる*/
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(150, 150, 150, 1);
        /* 通常時：グレー */
        transition: background 0.3s ease, transform 0.2s ease;
        pointer-events: none;
        z-index: 9999;
    }

    .custom-cursor.hovered {
        background: rgba(255, 160, 160, 0.6);
        /* ホバー時：ピンク系など柔らかい色 */
        transform: scale(3.5);
        /* 拡大で注目感を演出 */
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width:1024px) {
    header {
        height: 60px;
    }
}

.header-inner {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
}

@media screen and (min-width:768px) {
    .header-inner {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width:1024px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
    }
}

.h1-logo {
    max-width: 170px;
    width: auto;
}

@media screen and (min-width:768px) {
    .h1-logo {
        margin-top: 30px;
    }
}

@media screen and (min-width:1024px) {
    .h1-logo {
        max-width: 300px;
        width: auto;
        margin-top: 15px;
        padding-left: 50px;
    }
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
}

@media screen and (min-width:1024px) {
    .menu-btn {
        display: none;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    /*今映ってる画面ぴったりにする*/
    width: 100vw;
    height: 100vh;
    display: flex;
    /*スマホ版で切り替えるときにrowにすると横になる*/
    flex-direction: column;
    justify-content: center;
    background: #F4D4E3;
    transition: width .5s;
    /*映ってるメニューを100％分右にずらす*/
    transform: translateX(100vw);
    /*0.5秒かけてアニメーションする*/
    transition: all 0.5s ease-in-out;
}

@media screen and (min-width:1024px) {
    .menu {
        /* PC用は右に隠す必要なし */
        transform: none;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        padding-top: 15px;
        padding-right: 30px;
        background: transparent;
        /* 自動にして不要な高さを消す */
        height: auto;
        /* 重なり順を初期値に戻す */
        z-index: auto;
    }

}


.menu__item {
    width: 100%;
    height: auto;
    padding: 1em 2em;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    opacity: 0;
    transition: all 0.8s ease-in;
    /*映ってるメニューを100％分右にずらす*/
    transform: translateX(100vw);
    /*0.5秒かけてアニメーションする*/
    transition: all 0.8s ease-in-out;
}

@media screen and (min-width:768px) {
    .menu__item {
        width: 100%;
        height: auto;
        padding: 1em 2em;
        font-size: 2.4rem;
    }
}

@media screen and (min-width:1024px) {
    .menu__item {
        width: auto;
        padding: 0 0;
        opacity: 1;
        transition: none;
        /*映ってるメニューを100％分右にずらす*/
        transform: none;
        /*0.5秒かけてアニメーションする*/
        transition: none;
    }

    .menu__item a {
        text-decoration: none;
        /*大きさにするフォルトで消す */
        font-size: 1.5rem;
        color: #333;
        /* リンク文字の色 */
        display: inline-block;
        /* 擬似要素::afterを使うために必要 */
        position: relative;
        /* 下線をaの中に表示するため */
        padding-bottom: 4px;
        /* 文字と下線の間に余白 */
    }

    .menu__item a::after {
        content: '';
        /* 擬似要素を表示させる */
        position: absolute;
        /* aの中で絶対配置 */
        left: 0;
        bottom: 0;
        width: 0%;
        /* 最初は表示しない */
        height: 1px;
        /* 下線の太さ（見えやすく） */
        background: #333;
        /* 下線の色 */
        transition: width 0.5s ease;
        /* 下線の伸び方を滑らかに */
    }

    .menu__item a:hover::after {
        width: 100%;
        /* ホバーで全体に下線を伸ばす */
    }

}


.menu__item.sns-nav {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 75px;
}

@media screen and (min-width:1024px) {
    .menu__item.sns-nav {
        display: none;
    }
}


.menu__item.sns-nav i {
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
}

@media screen and (min-width:768px) {
    .menu__item.sns-nav i {
        width: 60px;
        height: 60px;
        font-size: 3.2rem;
    }
}

/*----------------------------
* ★メニュー画面のアニメーション
*----------------------------*/

/* アニメーション後のメニューの状態 is-activeがついたときにこっちになる 元の場所に戻る*/
.menu.is-active {
    transform: translateX(0);
}

.menu-btn-wrap.is-active {
    background-color: #fff;
}

.menu.is-active .menu__item {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s;
    /* 少し遅れて出ると自然 */
}

/*----------------------------
* ハンバーガーメニューのパーツ
*----------------------------*/

.menu-btn span {
    display: block;
}

.menu-btn-wrap {
    width: 40px;
    height: 40px;
    background-color: #F4D4E3;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:1024px) {
    .menu-btn-wrap {
        display: none;
    }
}

/* 3本線のボタン本体 */
.menu-btn {
    position: relative;
    top: -0.7px;
    right: -1.5px;
    width: 18px;
    height: 18px;
    pointer-events: initial;
    /*cursor: pointer;*/
    z-index: 10;
    /* 必要なら上げる */

}

.menu-btn span {
    position: absolute;
    left: 0;
    width: 80%;
    height: 2.5px;
    background-color: #333;
    border-radius: 10px;
    transition: all 0.3s;
}

/*1本目の位置*/
.menu-btn span:nth-of-type(1) {
    top: 0;
}

/*2本目の位置*/
.menu-btn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

/*3本目の位置*/
.menu-btn span:nth-of-type(3) {
    bottom: 0;
}

/*----------------------------
* ★ハンバーガーメニューのパーツのアニメーション ×ボタン
*----------------------------*/
/*is-activeがついたとき 1本目の線は少し下げて45度傾ける*/
.menu-btn.is-active span:nth-of-type(1) {
    transform: translateY(7.5px) rotate(-45deg);
}

/*1本不要なので消す*/
.menu-btn.is-active span:nth-of-type(2) {
    opacity: 0;
}

/*3本目の線 少し上げて45度傾ける*/
.menu-btn.is-active span:nth-of-type(3) {
    transform: translateY(-7.5px) rotate(45deg);
}

.footer-wrap {
    margin-top: 123px;
    background-color: #F4D4E3;
    width: 100%;
    height: 160px;
}

@media screen and (min-width:768px) {
    .footer-wrap {
        margin-top: 67px;
        height: 200px;
    }
}

@media screen and (min-width:1024px) {
    .footer-wrap {
        margin-top: 80px;
        height: 220px;
    }
}

.footer-sns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width:768px) {
    .footer-sns {
        gap: 25px;
    }
}

.footer-sns i {
    font-size: 1.6rem;
    margin-top: 64px;
}

@media screen and (min-width:768px) {
    .footer-sns i {
        font-size: 2.0rem;
    }
}

@media screen and (min-width:1024px) {
    .footer-sns i {
        font-size: 2.5rem;
    }

    .footer-sns a:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }
}

.small {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

@media screen and (min-width:768px) {
    .small {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1024px) {
    .small {
        margin-top: 15px;
        font-size: 1.5rem;
    }
}

/*マウスポインターのCSS*/
.hover-target,
.hover-target:hover {
    cursor: none;
}

/*ボタンのCSS*/

/* gooey wrapper */
.btn-wrapper {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .btn-wrapper {
        padding: 1.5rem 0;
        filter: url('#goo');
    }
}

.button {
    display: inline-block;
    text-align: center;
    background: #f4d4e3;
    color: #333;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (min-width:768px) {
    .button {
        font-size: 1.8rem;
    }
}

@media screen and (min-width:1024px) {
    .button {
        font-size: 2.0rem;
    }

    .button::before,
    .button::after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        background: #f4d4e3;
        border-radius: 50%;
        transition: transform 0.5s ease;
        transform: scale(0);
        z-index: -1;
    }

    .button::before {
        top: -25%;
        left: 10%;
    }

    .button::after {
        bottom: -25%;
        right: 10%;
    }

    .button:hover::before,
    .button:hover:after {
        transform: none;
    }
}