@charset "utf-8";

.logo {
    max-width: 75%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .logo {
        max-width: 78%;
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .logo {
        max-width: 80%;
        width: 100%;
    }
}