@charset "utf-8";

.container {
    padding: 70px 34px 123px;
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 680px;
        padding: 66px 40px 88px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1200px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.container h2 {
    padding-top: 35px;
    padding-bottom: 56px;
    font-size: 2.4rem;
    font-family: "Sue Ellen Francisco", "Coming Soon", "Architects Daughter", sans-serif;
    letter-spacing: 1.4rem;
    text-align: center;
}

@media screen and (min-width:768px) {
    .container h2 {
        padding-top: 66px;
        padding-bottom: 80px;
        font-size: 3.4rem;
    }
}

@media screen and (min-width:1024px) {
    .container h2 {
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 3.8rem;
    }
}

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}

@media screen and (min-width: 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        /* タブレットは2列 */
    }
}

@media screen and (min-width: 1024px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
        /* PCは3列 */
    }
}

.card-list__item {
    display: block;
    /* 明示しておくと安心 */
}

.card-list__item {
    height: auto;
    display: flex;
    flex-direction: column;
    display: none;
}

.card-list__item.is-show {
    display: block;
    opacity: 1;
    transform: none;
    transition: all 0.6s ease;
}

@media screen and (min-width:768px) {
    .card-list__item {
        flex: 0 0 calc(50% - 14px);
        padding-top: 30px;
    }
}

@media screen and (min-width:1024px) {
    .card-list__item {
        flex: 0 0 calc(33.3333% - 27px);
        align-items: flex-start;
        padding-top: 24px;
    }
}

.link-area {
    display: block;
    text-decoration: none;
}

.link-text {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    font-size: 1.4rem;
}

@media screen and (min-width:768px) {
    .link-text {
        padding-top: 10px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:1024px) {
    .link-text {
        font-size: 1.8rem;
        margin-top: 0px;
    }

    .link-text::after {
        content: '';
        /* 親の文字に対して絶対配置 */
        position: absolute;
        left: 0;
        bottom: 0;
        /* 親要素の幅いっぱい */
        width: 100%;
        /* 線の太さ */
        height: 0.5px;
        background: #333;
        transform: scaleX(0);
        /* 左端を基準に伸びる */
        transform-origin: left;
        transition: transform 1.3s ease;
    }

    .link-area:hover .link-text::after {
        /* 横方向に元の幅100%まで伸ばす */
        transform: scaleX(1);
    }
}

.img-wrap {
    /*アスペクト比*/
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-wrap,
.link-area {
    width: 100%;
}

@media screen and (min-width:1024px) {
    .img-wrap {
        position: relative;
        /*子の要素からはみ出ないようにする*/
        overflow: hidden;
        /*画像をトリミングする*/
        object-fit: cover;
        transition: transform 1.3s ease-in;
    }
}

.img-wrap img {
    width: 100%;
    height: 100%;
    display: block;
}

@media screen and (min-width:1024px) {
    .img-wrap img:hover {
        transform: scale(1.1);
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1.3s ease;
    }
}