@charset "utf-8";

.main-visual {
    margin-top: 70px;
    max-width: 100%;
    height: auto;
    background-image: url("../img/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

@media screen and (min-width:1024px) {
    .main-visual {
        margin-top: 60px;
    }
}

.main-visual img {
    padding-top: 45px;
    max-width: 800px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .main-visual img {
        padding-top: 40px;
        max-width: 1000px;
    }
}

@media screen and (min-width:1024px) {
    .main-visual img {
        padding-top: 30px;
        max-width: 700px;
    }
}

.about {
    margin-top: 65px;
    margin-bottom: 69px;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (min-width:768px) {
    .about {
        margin-top: 142px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width:1024px) {
    .about {
        margin-top: 160px;
        margin-bottom: 100px;
    }
}

.about h2 {
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .about h2 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width:1024px) {
    .about h2 {
        font-size: 1.8rem;
        letter-spacing: 0.2em;
        margin-bottom: 16px;
        text-align: center;
    }
}

.about p {
    line-height: 2.9rem;
    text-align: center;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .about p {
        max-width: 490px;
        font-size: 1.6rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width:1024px) {
    .about p {
        max-width: 570px;
        font-size: 1.8rem;
        line-height: 4.5rem;
    }
}

.container {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 123px;
}

@media screen and (min-width:768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 88px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    /* 子要素に合わせて縮まない */
    gap: 28px;
}

@media screen and (min-width:768px) {
    .card-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 100%;
        margin: 0 auto;
    }
}

.card-list__item {
    height: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:767px) {
    .card-list__item {
        width: 100%;
        /* スマホでは横幅いっぱいに */
    }
}

@media screen and (min-width:768px) {
    .card-list__item {
        flex: 0 0 calc(50% - 14px);
        padding-top: 30px;
    }
}

@media screen and (min-width:1024px) {
    .card-list__item {
        flex: 0 0 calc(33.3333% - 18.9999px);
        padding-top: 30px;
    }
}

.link-area {
    display: block;
    text-decoration: none;
}

.link-text {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    font-size: 1.4rem;
}

@media screen and (min-width:768px) {
    .link-text {
        padding-top: 10px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:1024px) {
    .link-text {
        font-size: 1.8rem;
        margin-top: 0px;
    }

    .link-text::after {
        content: '';
        /* 親の文字に対して絶対配置 */
        position: absolute;
        left: 0;
        bottom: 0;
        /* 親要素の幅いっぱい */
        width: 100%;
        /* 線の太さ */
        height: 0.5px;
        background: #333;
        transform: scaleX(0);
        /* 左端を基準に伸びる */
        transform-origin: left;
        transition: transform 0.8s ease;
    }

    .link-area:hover .link-text::after {
        /* 横方向に元の幅100%まで伸ばす */
        transform: scaleX(1);
    }
}

.img-wrap {
    aspect-ratio: 16 / 13;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 180px;
    /* 最低でもこの高さを確保 */
    object-fit: cover;
    /* カードを満たすように拡大 */
    overflow: hidden;
}

@media screen and (min-width:1024px) {
    .img-wrap {
        position: relative;
        /*子の要素からはみ出ないようにする*/
        overflow: hidden;
        /*画像をトリミングする*/
        object-fit: cover;
        transition: transform 1.3s ease-in;
    }
}

.img-wrap img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width:1024px) {
    .img-wrap img:hover {
        transform: scale(1.1);
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1.3s ease;
    }
}

/* gooey wrapper */
.btn-wrapper {
    margin-bottom: 150px;
}