@charset "utf-8";

.container {
    padding: 70px 20px 123px;
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 680px;
        margin: 0 auto;
        padding: 66px 40px 88px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 240px;
    }
}

.container h2 {
    padding-top: 35px;
    padding-bottom: 34px;
    font-size: 2.4rem;
    font-family: "Sue Ellen Francisco", "Coming Soon", "Architects Daughter", sans-serif;
    letter-spacing: 1.4rem;
    text-align: center;
}

@media screen and (min-width:768px) {
    .container h2 {
        padding-top: 66px;
        padding-bottom: 60px;
        font-size: 3.4rem;
    }
}

@media screen and (min-width:1024px) {
    .container h2 {
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 3.8rem;
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

@media screen and (min-width:768px) {
    .btn-group {
        padding-bottom: 15px;
    }
}

@media screen and (min-width:1024px) {
    .btn-group {
        display: flex;
        justify-content: flex-start;
        gap: 36px;
        padding-bottom: 36px;
    }
}

.btn-wrapper {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    text-align: center;
    background: #f4d4e3;
    color: #333;
    font-weight: bold;
    padding: 0.8em 1em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 5em;
    /* 最小幅：これ以下には縮まない */
    max-width: 8.23em;
    /* 最大幅：これ以上は広がらない */
    text-decoration: none;
    font-size: 1.4rem;
}

@media screen and (max-width: 340px) {
    .button {
        font-size: 1.3rem;
        padding: 0.6em 0.4em;
        min-width: 4em;
    }
}


@media screen and (min-width:768px) {
    .btn-wrapper {
        /*margin-bottom: 150px;*/
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        padding: 1em;
        line-height: 1;
        border-radius: 1em;
        min-width: 7.5em;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:1024px) {
    .button {
        font-size: 1.8rem;
    }

    .button::before,
    .button::after {
        width: 3.5em;
        height: 2em;
        position: absolute;
        content: "";
        display: inline-block;
        background: #f4d4e3;
        border-radius: 50%;
        transition: transform 0.5s ease;
        transform: scale(0);
        z-index: -1;
    }

    .button::before {
        top: -25%;
        left: 10%;
    }

    .button::after {
        bottom: -25%;
        right: 10%;
    }

    .button:hover::before,
    .button:hover:after {
        transform: none;
    }
}

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}

@media screen and (min-width: 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        /* タブレットは2列 */
    }
}

@media screen and (min-width: 1024px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
        /* PCは3列 */
    }
}

.card-list__item {
    display: none;
}

.card-list__item.show {
    display: block;
}


.link-area {
    display: block;
    text-decoration: none;
}

.link-text {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    font-size: 1.6rem;
}

@media screen and (min-width:768px) {
    .link-text {
        padding-top: 10px;
    }
}

@media screen and (min-width:1024px) {
    .link-text {
        font-size: 1.8rem;
        margin-top: 0px;
    }

    .link-text::after {
        content: '';
        /* 親の文字に対して絶対配置 */
        position: absolute;
        left: 0;
        bottom: 0;
        /* 親要素の幅いっぱい */
        width: 100%;
        /* 線の太さ */
        height: 0.5px;
        background: #333;
        transform: scaleX(0);
        /* 左端を基準に伸びる */
        transform-origin: left;
        transition: transform 1.3s ease;
    }

    .link-area:hover .link-text::after {
        /* 横方向に元の幅100%まで伸ばす */
        transform: scaleX(1);
    }
}

.img-wrap {
    /*アスペクト比*/
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-wrap,
.link-area {
    width: 100%;
}

@media screen and (min-width:1024px) {
    .img-wrap {
        position: relative;
        /*子の要素からはみ出ないようにする*/
        overflow: hidden;
        /*画像をトリミングする*/
        object-fit: cover;
        transition: transform 1.3s ease-in;
    }
}

.img-wrap img {
    width: 100%;
    height: 100%;
    display: block;
}

@media screen and (min-width:1024px) {
    .img-wrap img:hover {
        transform: scale(1.1);
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1.3s ease;
    }
}