@charset "utf-8";

html {
    font-size: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: black;
    background-color: #FFF8DD;
}

body {
    font-size: 1.6rem;
}

main {
    background: url(../img/haikei.png) center center;
    background-repeat: repeat-y;
    background-size: 100% auto;
}

img {
    max-width: 100%;
}

a {
    display: block;
}

.header-inner {
    width: auto;
    height: 123px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .header-inner {
        height: 340px;
        padding-top: 20px;
    }
}

.header-inner h1 {
    max-width: 200px;
    width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    .header-inner h1 {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
}

.pc {
    display: none;
}

@media screen and (min-widt:768px) {
    .pc {
        display: block;
    }

    .sm {
        display: none;
    }
}

.btn,
a.btn,
button.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5rem;
}

a.btn-border-shadow--radius {
    width: 110px;
    height: 110px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background: #F15A24;
}

@media screen and (min-width:768px) {
    a.btn-border-shadow--radius {
        width: 164px;
        height: 164px;
        padding: 6px;
    }
}

a.btn-border-shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;
    background: #F15A24;
}

a.btn-border-shadow:before {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

a.btn-border-shadow--radius:before {
    border-radius: 50%;
}

a.btn-border-shadow:hover {
    padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
    top: 0;
    left: 0;
}

.btn-msg {
    font-size: 0.7rem;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 1.2;
    margin-top: 23px;
    margin-bottom: 2px;
}

@media screen and (min-width:768px) {
    .btn-msg {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-top: 23px;
        margin-bottom: 5px;
    }
}

.btn-shop {
    font-size: 1.7rem;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 2px;
}

@media screen and (min-width:768px) {
    .btn-shop {
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
}

.btn-arrow {
    font-size: 1.2rem;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 1;
}

@media screen and (min-width:768px) {
    .btn-arrow {
        font-size: 1.8rem;
        line-height: 1;
    }
}

.kv-container {
    background: #FFF8DD;
    position: relative;
    padding-bottom: 165px;
    /* kv画像の高さに合わせて調整 */
}

@media screen and (min-width:768px) {
    .kv-container {
        padding-bottom: 0px;
        height: 800px;
        /* kv画像の高さに合わせて調整 */
    }
}

.kv {
    max-width: 500px;
    width: 100%;
    position: absolute;
    left: 60px;
    position: relative;
}

@media screen and (min-width:768px) {
    .kv {
        max-width: 1070px;
        width: 100%;
        top: -500px;
        left: 50%;
        transform: translateX(-44%);
        position: relative;
    }
}

.chatchcopy {
    position: absolute;
    top: 410px;
    left: 150px;
}

@media screen and (min-width:768px) {
    .chatchcopy {
        position: absolute;
        top: 80px;
        left: 1000px;
    }
}

.chatchcopy1 {
    background-color: #fff;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: rgb(106, 105, 105) 4px 4px 4px;
}

@media screen and (min-width:768px) {
    .chatchcopy1 {
        width: 350px;
        height: 88px;
        display: flex;
        align-items: center;
        box-shadow: rgb(106, 105, 105) 4px 4px 4px;
    }
}

.chatchcopy1 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .chatchcopy1 h2 {
        font-size: 3.8rem;
    }
}

.chatchcopy2 {
    margin-top: 20px;
    background-color: #fff;
    width: 260px;
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: rgb(106, 105, 105) 4px 4px 4px;
}

@media screen and (min-width:768px) {
    .chatchcopy2 {
        margin-top: 51px;
        width: 450px;
        height: 100px;
    }
}

.chatchcopy2 h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .chatchcopy2 h2 {
        font-size: 5.4rem;
        font-weight: 600;
        margin: 0 auto;
    }
}

.introduction-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-inner h3 {
    margin-top: 40px;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 3.8rem;
    letter-spacing: 0.5rem;
}

@media screen and (min-width:768px) {
    .introduction-inner h3 {
        margin-top: 60px;
        font-size: 3.6rem;
        line-height: 8.0rem;
        letter-spacing: 0.8rem;
    }
}

.introduction-inner p {
    padding-top: 27px;
    line-height: 3.6rem;
    letter-spacing: 0.1rem;
}

@media screen and (min-width:768px) {
    .introduction-inner p {
        padding-top: 27px;
        font-size: 2.0rem;
        line-height: 4.8rem;
        letter-spacing: 0.5rem;
    }
}

.introduction-inner img {
    padding-top: 24px;
    max-width: 220px;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 5px 5px #999898);
}

@media screen and (min-width:768px) {
    .introduction-inner img {
        padding-top: 37px;
        max-width: 440px;
    }
}

.btn-wrap {
    text-align: center;
    margin-top: 24px;
}

@media screen and (min-width:768px) {
    .btn-wrap {
        margin-top: 50px;
    }
}

.btn1,
a.btn1,
button.btn1 {
    font-size: 1.6rem;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn1-border-shadow--radius {
    border-radius: 100vh;
}

@media screen and (min-width:768px) {
    a.btn1-border-shadow--radius {
        width: 260px;
    }
}

a.btn1-border-shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;

    background: #F15A24;
}

a.btn1-border-shadow:before {
    position: absolute;
    top: -3px;
    left: -3px;

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    border: 1.5px solid #000;
    border-radius: 0.5rem;
}

a.btn1-border-shadow--radius:before {
    border-radius: 100vh;
}

a.btn1-border-shadow:hover {
    padding: calc(1.5rem - 6px) 3rem;
}

a.btn1-border-shadow:hover:before {
    top: 0;
    left: 0;
}

.detailed {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width:768px) {
    .detailed {
        margin-top: 100px;
    }
}

.detailed p {
    text-align: center;
}

.detailed h3 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 10px;
}

@media screen and (min-width:768px) {
    .detailed h3 {
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 15px;
    }
}

.detailed-inner {
    position: relative;
    width: 400px;
    /* 適宜調整 */
    height: 350px;
    margin: 0 auto;
}

.detailed-container {
    position: absolute;
    width: 190px;
    text-align: center;
    display: inline-block;
}

.triangle {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* 上下の間隔 */
}

@media screen and (min-width:768px) {
    .triangle {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* 上下の間隔 */
    }
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* 左右の間隔 */
}

@media screen and (min-width:768px) {
    .triangle {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.top {
    justify-content: center;
    /* 上段は中央に1つ */
}

.bottom {
    justify-content: space-between;
    /* 下段は左右に広げる */
    max-width: 500px;
    /* 三角形の幅を調整 */
    margin: 0 auto;
}

@media screen and (min-width:768px) {

    .top,
    .bottom {
        flex-direction: row;
        justify-content: center;
        max-width: none;
        margin: 0;
        gap: 20px;
    }
}

.card {
    position: relative;
    display: inline-block;
    /* 必須ではないけど整う */
}

.card img {
    display: block;
    max-width: 190px;
    width: 100%;
}

@media screen and (min-width:768px) {
    .card img {
        max-width: 272px;
    }
}

.card p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    /* 改行を防ぐ場合は指定。改行したいなら外す */
    line-height: 3.0rem;
}

@media screen and (min-width:768px) {
    .card p {
        font-size: 2.4rem;
        line-height: 4.0rem;
        letter-spacing: 0.5rem;
    }
}

.color {
    margin: 60px 20px 0;
    background-color: #fff;
    border-radius: 50px;
    padding-bottom: 40px;
}

@media screen and (min-width:768px) {
    .color {
        margin: 100px auto 0;
        padding-bottom: 40px;
        width: 1183px;
        height: 950px;
    }
}

.color h3 {
    padding: 34px;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .color h3 {
        padding: 56px;
        font-size: 3.6rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
}



.color-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

@media screen and (min-width:768px) {
    .color-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 51px;
    }
}

.color-card {
    width: 270px;
    height: 270px;
    background-color: #FFF8DD;
    position: relative;
}

.color-card img {
    width: 132px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.color-card p {
    width: 132px;
    height: 33px;
    background-color: #FFCB86;
    text-align: center;
    line-height: 33px;
    transform: rotate(-30deg);
    position: absolute;
    left: -15px;
}

.img-inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media screen and (min-width:768px) {
    .img-inner {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .img-inner img {
        display: block;
        margin: 0 auto;
    }
}

.detail {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 50px;
    padding-bottom: 40px;
}

@media screen and (min-width:768px) {
    .detail {
        margin: 100px auto 0;
        width: 1183px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width:768px) {
    .detail {
        margin-bottom: 100px;
    }
}

.detail h3 {
    display: block;
    padding-top: 34px;
    padding-bottom: 47px;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 5px 5px #999898);
}

@media screen and (min-width:768px) {
    .detail h3 {
        display: block;
        padding-top: 38px;
        padding-bottom: 47px;
        max-width: 450px;
    }
}

.detail-table {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width:768px) {
    .detail-table {
        margin: 0 auto;
    }
}

th,
td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

th {
    width: 110px;
    font-weight: 300;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

.footer-inner {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width:768px) {
    .footer-inner {
        padding-left: 20px;
        padding-bottom: 20px;
        margin-top: 60px;
        gap: 32px;
    }
}

.footer-inner img {
    max-width: 180px;
    width: 100%;
    margin-top: 30px;
}

.footer-inner p {
    font-weight: bold;
}

@media screen and (min-width:768px) {
    .footer-inner img {
        max-width: 320px;
        margin-top: 30px;
    }

    .footer-inner p,
    .footer-inner a {
        font-size: 2.4rem;
    }
}

.sns-wrap {
    display: flex;
    justify-content: center;
    gap: 18px;
}

@media screen and (min-width:768px) {
    .sns-wrap {
        gap: 24px;
    }
}

.sns-wrap i {
    font-size: 2.0rem;
}

@media screen and (min-width:768px) {
    .sns-wrap i {
        font-size: 4.5rem;
    }
}

small {
    margin-top: 50px;
    font-size: 1.0rem;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    small {
        margin-top: 50px;
        font-size: 1.3rem;
        margin-bottom: 40px;
    }
}